<div class="@(SingelUs?"picker-box frame":string.Empty) @ThemePickerZO">
    <div class="clock-analogue ">
        <div class="clock ">
            <div class="outer-clock-face">
                <div class="marking marking-one"></div>
                <div class="marking marking-two"></div>
                <div class="marking marking-three"></div>
                <div class="marking marking-four"></div>
            </div>
            <div class="inner-clock-face">
                <div class="hand hour-hand" @onclick="(e=> SetDef(ClockHand.Hourse))" style="transform: @($"rotate({_dgH}deg)") ; z-index:99999"></div>
                <div class="hand min-hand" @onclick="(e=> SetDef(ClockHand.Minute))" style="transform: @($"rotate({_dgM}deg)") ; z-index:99998"></div>
                <div class="hand second-hand" @onclick="(e=> SetDef(ClockHand.Second))" style="transform: @($"rotate({_dgS}deg)") ; z-index:99997"></div>
            </div>
            @for (int i = 0; i < 60; i++)
            {
                var pSelect = i;
                <div class="@_classEditTime @($"t{pSelect}")" @onclick="(e=> SetTimeByClockHand(pSelect))"></div>
            }
        </div>
        <div class="clock-values">
            <span class="lbl-hour">@SelectTime.Hours</span>:
            <span class="lbl-minute">@SelectTime.Minutes</span>:
            <span class="lbl-second">@SelectTime.Seconds</span>
            <span class="lbl-ampm" @onclick="CheangAmPm">@_amPm</span>
        </div>
    </div>
</div>
