@inherits BaseDatePickerZO

<div class="picker-pack" id=@_dpID>
    <div class="picker-box">



        @if (PopupDatePickerZO)
        {
            <div class="input-group-picker">
                <input type="text" value="@_dateFa" readonly />
                <button @onclick="ShowPicker">&#128197;</button>
            </div>
            if (_show)
            {
                <div class="frame-position-zo frame @ThemePickerZO"  >
                    <div class="title">@_dateFa</div>
                    <YearMonthZO SingelUs="false" @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" ThemePickerZO="@ThemePickerZO" />
                    <DayZO SingelUs="false" @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" ThemePickerZO="@ThemePickerZO" Close="ColsePopup" />
                    @if (_timeShowZO)
                    {
                         <TimeZO SingelUs="false" @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" ThemePickerZO="@ThemePickerZO" />
                    }
                   
                    <div class="btn-list">
                     
                        <button @onclick="GetToday">امروز</button>
                    </div>
                </div>

            }
        }
        else
        {
            <div class="frame @ThemePickerZO">
                <div class="title">@_dateFa</div>
                <YearMonthZO SingelUs="false" @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" ThemePickerZO="@ThemePickerZO" />
                <DayZO SingelUs="false" @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" ThemePickerZO="@ThemePickerZO" />
                @if (_timeShowZO)
                {
                                  <TimeZO SingelUs="false" @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" ThemePickerZO="@ThemePickerZO" />
  
                }
                <div class="btn-list">
                    <button @onclick="ColsePopup">تأیید</button>
                    <button @onclick="GetToday">امروز</button>
                </div>
            </div>
        }
    </div>
</div>

