@inherits BaseDatePickerZO


<div class="@(SingelUs?"picker-box frame":string.Empty) @ThemePickerZO">
    <div class="selector-year-month">
        <div class="current">
            <div class="year" @onclick="(e=> ShowPanel(true))">@YearSelect</div>
            <div class="month" @onclick="(e=> ShowPanel(false))" >@($" {DatePickerZeroOneHellper.MonthFaName[MonthSelect]} ")</div>
        </div>
        
                @if (_yearhShow)
                {
            <div class=" year-month-list">
            <div class="prev" @onclick="PrevElementYear">&#9664;</div>
            <div class="options">

                    @for (int i = _startLoop(); i < _startLoop() + 12; i++)
                    {
                        var select = i;
                        if (IsActiveYear(select))
                        {
                            <span @onclick="@(e => SelectedYearMouse(select))" class="@(select==YearSelect ?"selected" :string.Empty  )">@i</span>
                        }
                        else
                        {
                            <span class="NoActive">@i</span>
                        }

                    }
                
                
                   </div>
            <div class="next" @onclick="NextElementYear">&#9654;</div>
        </div>
                
                }

                @if (_monthShow)
                {

                     <div class=" year-month-list">
            <div class="prev" >&#9664;</div>
            <div class="options">
                    @for (int i = 1; i <= 12; i++)
                    {

                        var select = i;
                        if (IsActiveMonth(select))
                        {
                            <span @onclick="@(e => SelectedMonth(select))"> @($" {DatePickerZeroOneHellper.MonthFaName[select]} ") </span>
                        }
                        else
                        {
                            <span> @($" {DatePickerZeroOneHellper.MonthFaName[select]} ") </span>
                        }
                    }
                
                        </div>
            <div class="next" >&#9654;</div>
        </div>
                
                }


         



    </div>
</div>