@inherits BaseDatePickerZO
@if (PupupDatePickerZO)
{
    <div class="datepicker-input-group">
        <input readonly class="picker-text-input" value="@_dateFa">
        <span class="show-picker-btn" @onclick="ShowPicker">&#x1F4C5;</span>
        <div  class="frame-popup">
            @if (_show)
            {
                <div class="date-picker-frame @ThemePickerZO">
                    <div class="date-picker-content">
                        <div class="top">
                            <div class="title">@_dateFa</div>
                        </div>
                        <YearZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
                        <MonthZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
                        <DayZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
                        <TimeZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
                        <div class="footer">
                            <div class="close" @onclick="ColsePopup">تأیید</div>
                            <div @onclick="GetToday" class="select-today">امروز</div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
}
else
{

    <div class="date-picker-frame @ThemePickerZO">
        <div class="date-picker-content">
            <div class="top">
                <div class="title">@_dateFa</div>
            </div>
            <YearZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
            <MonthZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
            <DayZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
            <TimeZO @bind-SelectDate="@SelectDate" MaxDate="@MaxDate" MinDate="@MinDate" />
            <div class="footer">
                <div class="close" @onclick="Change">تأیید</div>
                <div @onclick="GetToday" class="select-today">امروز</div>
            </div>
        </div>
    </div>

}


