@inherits BaseDatePickerRangeZO 
@if (PupupDatePickerZO)
{
    <div class="datepicker-input-group">
        <input readonly class="picker-text-input" value="@_dateFa">
        <span class="show-picker-btn" @onclick="ShowPicker">&#x1F4C5;</span>
        <div  class="frame-popup">
            @if (_show)
            {
                <PickerRange @bind-SelectDateFirst="@SelectDateFirst"  @bind-SelectDateLast="@SelectDateLast" ThemePickerZO="@ThemePickerZO" />  
                <div class="footer">
                <button  class="close" @onclick="ColsePopup">تأیید</button>
                <button  @onclick="GetDayRange" class="select-today">یک روزه</button>
                <button  @onclick="GetWeekRange" class="select-today">یک هفته</button>
                <button  @onclick="GetMonthRange" class="select-today">یک ماه</button>
                <button  @onclick="GetYearRange" class="select-today">یک سال</button>
            </div>
            }

          
        </div>
    </div>
}
else
{
    <PickerRange @bind-SelectDateFirst="@SelectDateFirst"  @bind-SelectDateLast="@SelectDateLast" ThemePickerZO="@ThemePickerZO" />
    <div class="footer">
                <button  class="close" @onclick="Change">تأیید</button>
                <button  @onclick="GetDayRange" class="select-today">یک روزه</button>
                <button  @onclick="GetWeekRange" class="select-today">یک هفته</button>
                <button  @onclick="GetMonthRange" class="select-today">یک ماه</button>
                <button  @onclick="GetYearRange" class="select-today">یک سال</button>
            </div>
}




