@inherits BaseDatePickerZO
<div class="date-picker-frame @ThemePickerZO"> 
    <div class="date-picker-content">
        <div class="top">
          <div class="title">@_dateFa</div>
        </div>
       <YearZO @bind-SelectDate="@SelectDate" />
       <MonthZO  @bind-SelectDate="@SelectDate" />
       <DayZO @bind-SelectDate="@SelectDate"/>
       <TimeZO  @bind-SelectDate="@SelectDate"/>
       <div class="footer">
      <div class="close" @onclick="GetToday">تأیید</div>
      <div @onclick="GetToday" class="select-today">امروز</div>
      </div>
    </div>
    </div>
  
 @code
 {
 [Parameter]
        public ThemeDatePickerZO ThemePickerZO { get; set; } = ThemeDatePickerZO.lightgreen;

        [Parameter]
        public EventCallback<string> DateFa { get; set; }

        string _dateFa => $"{SelectDate.YearFa():D4}/{SelectDate.MonthFa():D2}/{SelectDate.DayFa():D2} {SelectDate.Hour:D2}:{SelectDate.Minute:D2}:{SelectDate.Second:D2}";


        void Change(DateTime argo)
        {
            SelectDateChanged.InvokeAsync(SelectDate);
            DateFa.InvokeAsync(_dateFa);
        }
        void GetToday()
        {
            SelectDate = DateTime.Now;
            Change(SelectDate);
        }
 }  

