@page "/RangeDate"
@using Blazor_PersianDatePickerZO.Component
@using Blazor_PersianDatePickerZO.Hellper

<div class="container-fluid">
    <div class="row">
        <h6 class="text-black float-end m-2"><span>برای گرفتن رنج دو تاریخ و محدود کردن بازه تاریخ است</span></h6>
        <pre>
        <code>
                < ZeroOneDatePickerRange  />
            </code>
        </pre>

        <pre>
        <code> 
                < ZeroOneDatePickerRange @bind-SelectDateFirst="bindFirstProperty" @bind-SelectDateLast="bindLastProperty" />
            </code>
        </pre>



    </div>
    <div class="row mt-3">

        <div class="col-md-6 col-sm-12 p-1 align-commponent">
            <ZeroOneDatePickerRange @bind-SelectDateFirst="@dateFirst" @bind-SelectDateLast="@dateLast" ThemePickerZO="ThemeDatePickerZO.darkblue" />
        </div>
        <div class="col-md-6 col-sm-12 p-1 ">
            <ZeroOneDatePickerRange @bind-SelectDateFirst="@dateFirst" @bind-SelectDateLast="@dateLast" ThemePickerZO="ThemeDatePickerZO.darkblue" PopupDatePickerZO="true" />
        </div>
    </div>
</div>


@code {
    DateTime _dateF = DateTime.Now.AddDays(-5);
    DateTime _dateL = DateTime.Now.AddDays(1);

    DateTime dateFirst
    {
        set => _dateF = value < _dateL ? value : _dateF;
        get => _dateF;

    }
    DateTime dateLast
    {
        set => _dateL = value > _dateF ? value : _dateL;
        get => _dateL;

    }
}






@*@page "/RangeDate"
@using Blazor_PersianDatePickerZO.Component
@using Blazor_PersianDatePickerZO.Hellper

<div class="row">
 <div class="col text-center">
       <ZeroOneDatePickerRange SelectDateFirst="@dateFirst" SelectDateLast="@dateLast" PupupDatePickerZO="true" ThemePickerZO="ThemeDatePickerZO.darkblue" />

       <br />
     <ZeroOneDatePickerRange  SelectDateFirst="@dateFirst" SelectDateLast="@dateLast" ThemePickerZO="ThemeDatePickerZO.darkblue" />
    </div>
</div>
@code{


    DateTime _dateF = DateTime.Now.AddDays(-5);
    DateTime _dateL = DateTime.Now.AddDays(1);

    DateTime dateFirst
    {
        set => _dateF = value < _dateL ? value : _dateF;
        get => _dateF;

    }
    DateTime dateLast
    {
        set => _dateL = value > _dateF ? value : _dateL;
        get => _dateL;

    }
}*@